RAG_Agent_2.json
{
  "name": "RAG Agent 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        20
      ],
      "id": "851e1eaf-227d-43bf-96b3-8dfe8cdb687f",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1kotQUISXgnJAVp8T63-pWR4z42BIT-rC",
            "mode": "list",
            "cachedResultName": "group 5 fydp",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1kotQUISXgnJAVp8T63-pWR4z42BIT-rC"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        20
      ],
      "id": "b2a4c3f2-512c-4aab-ac4f-8eabf2d65896",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2JgoGiDIegiTcZJE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        440,
        20
      ],
      "id": "bf0e0614-6bc2-4cb6-b008-72016b58dc63",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2JgoGiDIegiTcZJE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-4",
          "mode": "list",
          "cachedResultName": "n8n-4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        660,
        20
      ],
      "id": "7195c05b-b527-47b5-9eb7-3806952aff01",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "16T6lOqpepMLTXlP",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        540,
        220
      ],
      "id": "8f7842f4-660d-4901-90c4-fae9c036cf22",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "A5GP4Uhs76jhXzCg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "n8n-4",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        820,
        200
      ],
      "id": "27bbbb9f-19eb-48f4-986b-3899f239efe3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "id": "53414d40-88c0-477b-abd2-0e5e29941f38",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a9d5d7ec-2cf0-4e3c-aaeb-8c803134e529",
  "meta": {
    "instanceId": "eaa9a2673fc25961f5be0b649cce5420d2291106b434a24a34ea74bd23f129d4"
  },
  "id": "wLmlYJy6pZ73iEFL",
  "tags": []
}